.nav li a:hover {
  background-color: #ccc;
}

.navbar {
  padding-top: 2px;
}

.nav {
  /*padding-top: 5px;*/
  padding-left: 10px;
  padding-right: 5px;
}

li#logged_in_as {

  padding-top: 5px;
  padding-right: 10px;
  font-size: 1.4em;
}